# =========================
# MATLAB / Simulink
# =========================

# Autosave / backup
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Derived content-obscured files
*.p

# Compiled MEX
*.mex*

# Packaged apps/toolboxes
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated help
helpsearch*/

# Code generation / cache
slprj/
sccprj/
codegen/
*.slxc

# MATLAB Drive
.MATLABDriveTag


# =========================
# Simulink experiments
# =========================

barrido_J_resultados.mat
barrido_J
barrido_B


# =========================
# LaTeX
# =========================

# Tu carpeta de compilación
# =========================
# LaTeX - archivos temporales
# =========================

Documento/build/*.log
Documento/build/*.blg
Documento/build/*.bbl
Documento/build/*.fdb_latexmk
Documento/build/*.fls
Documento/build/*.synctex.gz
Documento/build/*.toc
Documento/build/*.lof
Documento/build/*.lot
Documento/build/*.out

# Mantener versionados
!Documento/build/main.pdf
!Documento/build/main.aux
!Documento/build/capitulos/
!Documento/build/capitulos/*.aux

# Archivos auxiliares LaTeX
*.aux
*.log
*.blg
*.bbl
*.fdb_latexmk
*.fls
*.synctex.gz
*.toc
*.lof
*.lot
*.out
*.nav
*.snm
*.vrb